@model ICollection<ArticleViewModel>

@{
}

<p><a class="btn btn-primary" asp-action="Create" role="button">Create article</a></p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Topic</th>
            <th scope="col">Author</th>
            <th scope="col">Created on</th>
            <th scope="col">Last modified on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ArticleViewModel article in Model)
        {
            <tr>
                <td><a asp-action="View" asp-route-id="@article.Id">@article.Topic</a></td>
                <td>@article.Author</td>
                <td>@article.DateCreated.ToShortDateString() at @article.DateCreated.ToShortTimeString()</td>
                <td>@article.DateModified.ToShortDateString() at @article.DateModified.ToShortTimeString()</td>
            </tr>
        }
    </tbody>
</table>

<p><a class="btn btn-primary" asp-action="Create" role="button">Create article</a></p>
