@model ICollection<ArticleViewModel>

@{
}

<table>
    <thead>
        <tr>
            <th>Topic</th>
            <th>Author</th>
            <th>Created on</th>
            <th>Last modified on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ArticleViewModel article in Model)
        {
            <tr>
                <td><a asp-action="View" asp-route-id="@article.Id">@article.Topic</a></td>
                <td>@article.Author</td>
                <td>@article.DateCreated.ToShortDateString() at @article.DateCreated.ToShortTimeString()</td>
                <td>@article.DateModified.ToShortDateString() at @article.DateModified.ToShortTimeString()</td>
            </tr>
        }
    </tbody>
</table>
